doctype html
html.no-js(xmlns:og='http://ogp.me/ns#', xmlns:fb='https://www.facebook.com/2008/fbml', ng-app="app")
    head
        meta(charset='UTF-8')
        meta(name='viewport-8', content='width=device-width, initial-scale=1')

        title Washroom of the day
        
        link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', media='all', rel='stylesheet')
        link(href='css/style.css', media='all', rel='stylesheet')
    body
        block body