doctype html
html.no-js(xmlns:og='http://ogp.me/ns#', xmlns:fb='https://www.facebook.com/2008/fbml', ng-app="app")
    head
        meta(charset='UTF-8')
        title Washroom of the day
        
        link(href='css/style.css', media='all', rel='stylesheet')
        link(href='bower_components/angular-native-picker/build/themes/classic.css', media='all', rel='stylesheet')
        link(href='bower_components/angular-native-picker/build/themes/classic.date.css', media='all', rel='stylesheet')
    body
        block body