include include/gnav.jade
mixin gnav("edit")

h2 Edit

ul
    li Image
        input(ng-model='user.url')
    li Place
        input(ng-model='user.place')
    li Address
        input(ng-model='user.address')
    li Country
        input(ng-model='user.country') 
        select(ng-model="node", ng-repeat="(key, value) in users | groupBy:'country'", ng-options="v for v in value")
            option(value="''"){{key}}

    li Latitude
        input(ng-model='user.coords.latitude')
    li Longitude
        input(ng-model='user.coords.longitude')
    li Story
        input(ng-model='user.story')
    li User
        input(ng-model='user.user')
    li Date
        input(ng-model='user.date', type='text', pick-a-date='date', pick-a-date-options='options', placeholder='Select Date')
    
button(ng-click='edit()') Register

a(ng-href='/#/users') Back
