extends _layout

block body
  div(ng-view)
  
  script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-route.min.js')
  script(src='bower_components/angular-filter/dist/angular-filter.min.js')
  script(src='//maps.googleapis.com/maps/api/js?sensor=false')
  script(src='bower_components/lodash/dist/lodash.min.js')
  script(src='bower_components/angular-google-maps/dist/angular-google-maps.min.js')
  script(src='bower_components/angular-native-picker/build/angular-datepicker.js')
  script(src='bower_components/dat-gui/build/dat.gui.min.js')
  script(src='bower_components/threejs/build/three.min.js')
  script(src='bower_components/stats.js/build/stats.min.js')
  script(src='lib/detector.js')
  script(src='lib/threejs-layer.js')
  script(src='js/main.js')
