include include/gnav.jade
mixin gnav("ListUser")

div(id='container' class='center-block')

    h2 ListUser

    input(class='form-control', ng-model='query', placeholder='Search for signs', autofocus)
    p {{(users|filter:query).length}}

    table(class='table table-striped')
        tr
            th Image
            th Place
            th Address
            th Country
            th Date
            th User
        tr(ng-repeat="user in users | filter: query | orderBy:'date':true")
            td
                img(src="{{user.url}}", width="50", height="50")
            td {{user.place}}
            td {{user.address}}
            td {{user.country}}
            td {{user.date}}
            td 
                a(href='{{user.userurl}}') {{user.user}}

