include include/gnav.jade
mixin gnav("Map")

div(id='container' class='center-block')

	h2 Map

	select(ng-model="sel" ng-options="user.place group by user.country for user in users", ng-change="changeSelection(sel)")
		option(style="display:none", value="") select a place

	input(ng-model='query', placeholder='Search for signs', autofocus, ng-change="change()")

	select(ng-model="mode",ng-init="mode='pause'", ng-change="selectMode(mode)")
		option(value="pause") pause
		option(value="loop") loop
		option(value="random") random
	duration
	input(ng-model='duration', ng-init='duration="1000"', ng-change="changeDuration(duration)")
	zoom
	input(ng-model='zoom', type='number', min="0", max="21", ng-change="changeZoom(zoom)")

	ui-gmap-google-map(events='map.events', center='map.center', zoom='map.zoom')
		ui-gmap-marker(ng-repeat="m in users | filter: query", coords="m.coords", idkey="m._id", click="onClickMarker(m)" )
			//- ui-gmap-window(coords="m.infoWindow.coords", isIconVisibleOnClick="true", options="m.infoWindow.options" ng-cloak)
				//- div
					//- p {{ m.place }}<br>{{ m.address }}<br>by {{ m.user }}!

	div.media#story
		div.media-left
			img(src='{{image}}')

		div.media-body
			//- h3.media-heading {{place}}

			ul(class='list-unstyled')
				li Place: {{place}}
				li Country: {{country}}
				li Date: {{date}}
				li Story: {{story}}
				li Found by: {{user}}

			//- ul(class='list-unstyled')
			//- li Place: {{place}}
			//-	li Country: {{country}}
			//-	li Date: {{date}}
			//-	li Story: {{story}}
			//-	li Found by: {{user}}