Image <input ng-model="user.url"><br>
Place <input ng-model="user.place"><br>
Address <input ng-model="user.address"><br>
Country <input ng-model="user.country"><br>
Latitude <input ng-model="user.coords.latitude"><br>
Longitude <input ng-model="user.coords.longitude"><br>
Story <input ng-model="user.story"><br>
User <input ng-model="user.user"><br>
<input ng-model="user.date" type="text" pick-a-date="date" pick-a-date-options="options" placeholder="Select Date" /><br>

<button ng-click="edit()">Register</button>
<a ng-href="/#/users">Back</a>