mixin gnav(obj)
	-var menu = { 'list': '/#/users', 'edit': '/#/users/new', 'visualizer': '/#/visualizer', 'stats': '/#/stats' };
	-var selected = obj

	ul(class='nav nav-tabs')
		each val, key in menu
			li
				if selected === key
					li.active(role="presentation")
						a(ng-href=val, title=key)= key
				else
					li(role="presentation")
						a(ng-href=val, title=key)= key